[submodule "books"]
	branch = main
	url = git@github.com:vahabr/books.git
[submodule "opttera"]
	branch = main
	url = git@github.com:vahabr/opttera.git
[submodule "vahabr.github.io"]
	branch = main
	url = git@github.com:vahabr/vahabr.github.io.git
[submodule "zwmco"]
	branch = main
	url = git@github.com:vahabr/zwmco.git
